<div class="card">
  <div><span class="close-button" (click)="onClose()">X</span></div>
  <article class="card-body">
    <h4 class="card-title mb-4 mt-1 font-weight-bold">Sign in</h4>
    <form class="form" [formGroup]="buyForm" (ngSubmit)="onPurchase()">



      <div class="form-group">
        <label>Card number</label>
        <input name="" class="form-control" formControlName="cardNumber" placeholder="1234 5678 9012 3456" type="number"
               [class.is-invalid]="buyForm.get('cardNumber').invalid && buyForm.get('cardNumber').touched">
      </div>
      <div class="form-group">
        <label>Name on card</label>
        <input name="" class="form-control" formControlName="cardHolderName" placeholder="Ex. John Website" type="name"
               [class.is-invalid]="buyForm.get('cardHolderName').invalid && buyForm.get('cardHolderName').touched">

      </div>
      <div class="row">
        <div class="form-group">
          <label>Name on card</label>
          <input class="form-control" formControlName="cardExpirationDate" placeholder="01/21" type="date"
                 [class.is-invalid]="buyForm.get('cardExpirationDate').invalid && buyForm.get('cardExpirationDate').touched">
        </div>
        <div class="form-group">
<!--          <a class="float-right" href="#">Forgot?</a>-->
          <label>Security code</label>
          <input class="form-control" formControlName="cardCvv" placeholder="******" type="password"
                 [class.is-invalid]="buyForm.get('cardCvv').invalid && buyForm.get('cardCvv').touched">
        </div>
      </div>
      <div class="form-group">
        <button type="submit" class="btn btn-primary btn-block"> Login</button>
      </div>
    </form>
  </article>
</div>
