<div class="fc-view-container">
  <div class="fc-row" style="padding-top: 30px">
    <button class="btn btn-primary"> Create</button>
  </div>
  <div class="fc-row" style="padding-top: 30px">
    <table class="table center">
      <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Number</th>
        <th scope="col">Departure date</th>
        <th scope="col">Arrival date</th>
        <th scope="col"></th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let flight of (flights$ | async)">
        <th scope="row"></th>
        <td>...</td>
        <td>...</td>
        <td>...</td>
        <td class="crud">
          <div class="icons row justify-content-center no-gutters">
            <div class="read">
              <i class="fas fa-book-open"></i>
            </div>

            <div class="modify">
              <i class="fas fa-edit"></i>
            </div>

            <div class="delete">
              <i class="fas fa-trash-alt"></i>
            </div>
          </div>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</div>

