<div class="row">
  <div class="col-xs-2" style="height: 300px; float: left; padding-left: 40px">
    <div class="container">
      <ul>
        <li>
          <button class="custom-button" routerLink="./airports"> Airports</button>
        </li>
        <li>
          <button class="custom-button" routerLink="./flights">Flights</button>
        </li>
        <li>
          <button class="custom-button" routerLink="./tickets">Tickets</button>
        </li>
      </ul>
    </div>
  </div>
  <div class="col-xs-2" style="width: 100px">
  </div>
  <div class="col-xs-10" style="height: 300px">
    <div class="container">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
