<div class="back col-1">
  <button class="btn btn-danger" (click)="onGoBack()">
    <i class="fas fa-chevron-left"></i>
    Back
  </button>
</div>
<div class="fc-view-container col-5" style="padding-top: 20px;">
  <form [formGroup]="form">

    <div class="form-group">
      <label>Arrival airport</label>
      <br>
      <select formControlName="arrivalAirportId" class="select">
        <option *ngFor="let airport of airports" [value]="airport.id"
                [selected]="flight ? flight.arrivalAirport.name : null">{{airport.name}}</option>

      </select>
    </div>

    <div class="form-group">
      <label>Departure airport</label>
      <br>
      <select formControlName="departureAirportId" class="select">
        <option *ngFor="let airport of airports" [value]="airport.id"
                [selected]="flight ? flight.departureAirport.name : null">{{airport.name}}</option>

      </select>
    </div>

    <div class="form-group">
      <label for="arrivalDate"> Arrival date </label>
      <div class="input-group date-input">
        <p-calendar [inputStyle]="{'width':'395px'}" inputId="basic" showIcon=true id="arrivalDate"
                    dateFormat="dd-mm-yy"
                    formControlName="arrivalDate">
        </p-calendar>
      </div>
    </div>

    <div class="form-group">
      <label for="departureDate">Departure date</label>
      <div class="input-group date-input">
        <p-calendar [inputStyle]="{'width':'395px'}" class="w-100" inputId="basic" showIcon=true id="departureDate"
                    dateFormat="dd-mm-yy"
                    formControlName="departureDate">
        </p-calendar>
      </div>
    </div>

    <div class="form-group">
      <label for="number">Number</label>
      <input type="number" formControlName="number" class="form-control" id="number" placeholder="Enter number">
    </div>

    <div class="form-group">
      <label for="departureDate">Available tickets</label>
      <input type="code" formControlName="availableTickets" class="form-control" id="availableTickets"
             placeholder="Enter available ticket">
    </div>

    <div class="form-group">
      <label for="departureDate">Ticket price</label>
      <input type="code" formControlName="ticketPrice" class="form-control" id="ticketPrice"
             placeholder="Enter ticket price">
    </div>


    <button type="submit" class="btn btn-info" (click)="onSubmit()">Submit</button>
  </form>
</div>
