@import "./../../../styles";

main {
  width: 100%;
  height: 100vh;

  .flight-image {
    background-image: url('../../../assets/images/home-image.png');
    width: 100%;
    height: 100vh;
    background-position: center;
    background-size: cover;
  }

  //img {
  //  width: 100%;
  //  height: 100vh;
  //  object-fit: cover;
  //}
}
