<div class="fc-view-container">
  <div class="fc-row" style="padding-top: 30px">
    <button class="btn btn-primary" (click)="onCreate() "> Create</button>
  </div>
  <div class="fc-row" style="padding-top: 30px">
    <table class="table center">
      <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Number</th>
        <th scope="col">Departure city</th>
        <th scope="col">Arrival city</th>
        <th scope="col">Arrival date</th>
        <th scope="col">Departure date</th>
        <th scope="col">Ticket price</th>
        <th scope="col">Available tickets</th>
        <th scope="col"></th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let flight of flights; let i=index;">
        <th scope="row">{{flight.id}}</th>
        <td>{{flight.number}}</td>
        <td>{{flight.departureAirport?.city}}</td>
        <td>{{flight.arrivalAirport?.city}}</td>
        <td>{{flight.arrivalDate}}</td>
        <td>{{flight.departureDate}}</td>
        <td>{{flight.ticketPrice}}</td>
        <td>{{flight.availableTickets}}</td>
        <td class="crud">
          <div class="icons row justify-content-center no-gutters" style="width: 150px">
            <div class="read">
              <i class="fas fa-book-open" (click)="onView(flight.id)"></i>
            </div>

            <div class="modify">
              <i class="fas fa-edit" (click)="onEdit(flight.id)"></i>
            </div>

            <div class="delete">
              <i class="fas fa-trash-alt" (click)="onDelete(flight.id)"></i>
            </div>
          </div>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
