<div class="row no-gutters col-3 general-div">
  <p>{{'flight-search.flight-question' | translate}}</p>
  <p class="bold mt-0">{{'flight-search.flight-question-bold' | translate}}</p>

  <div class="row">
    <div class="col form-group">
      <label>{{'flight-search.from' | translate}} </label>
      <div class="input-group input">
        <input class="form-control rounded"
               formControlName="from" type="text"
               placeholder="{{'flight-search.placeholder.from' | translate}}">
      </div>
    </div>

    <div class="col form-group">
      <label>{{'flight-search.to' | translate}} </label>
      <div class="input-group input">
        <input class="form-control rounded"
               formControlName="to" type="text"
               placeholder="{{'flight-search.placeholder.to' | translate}}">
      </div>
    </div>

    <div class="row col ">
      <div class="col form-group">
        <label>{{'flight-search.departure-date' | translate}} </label>
        <div class="input-group date-input">
          <input class="form-control rounded "
                 formControlName="departure-date" type="text"
                 placeholder="{{'flight-search.placeholder.date' | translate}}">
        </div>
      </div>
      <div class="col form-group">
        <label class="ml-2">{{'flight-search.return-date' | translate}} </label>
        <div class="input-group ml-2 date-input">
          <input class="form-control rounded mr-4"
                 formControlName="return-date" type="text"
                 placeholder="{{'flight-search.placeholder.date' | translate}}">
        </div>
      </div>
    </div>

    <div class="col form-group">
      <label>{{'flight-search.passengers' | translate}} </label>
      <div class="input-group input">
        <input class="form-control rounded"
               formControlName="passenger" type="text"
               placeholder="{{'flight-search.placeholder.passenger' | translate}}">
      </div>
    </div>


    <div class="col form-group">
      <div class="input-group">
        <input class="radio" type="radio" name="radio">
        <span class="ml-3"> {{'flight-search.one-way' | translate}}</span>
      </div>
    </div>

    <div class="col form-group">
      <div class="input-group">
        <input class="radio" type="radio" name="radio">
        <span class="ml-3"> {{'flight-search.round-trip' | translate}}</span>
      </div>
    </div>
  </div>
  <div>
    <button class="book-button"> {{'flight-search.book-now' | translate}}</button>
  </div>

</div>
