<div class="row no-gutters col-3 general-div">
  <p>{{'flight-search.flight-question' | translate}}</p>
  <p class="bold mt-0">{{'flight-search.flight-question-bold' | translate}}</p>
  <form [formGroup]="departureForm" (ngSubmit)="onSubmit()">
    <div class="row">
<!--      <div class="col form-group">-->
<!--        <label>{{'flight-search.from' | translate}} </label>-->
<!--        <div class="input-group input">-->
<!--          <input class="form-control rounded" formControlName="departureCity" type="text"-->
<!--                 placeholder="{{'flight-search.placeholder.from' | translate}}">-->
<!--        </div>-->
<!--      </div>-->
      <div class=" col form-group">
        <label>{{'flight-search.from' | translate}}</label>
        <br>
        <select formControlName="departureCity" class="select"  style="width: 400px; height: 40px">
          <option *ngFor="let city of keys">{{city}}</option>

        </select>
      </div>

      <div class=" col form-group">
        <label>{{'flight-search.to' | translate}}</label>
        <br>
        <select formControlName="arrivalCity" class="select"  style="width: 400px; height: 40px">
          <option *ngFor="let city of keys">{{city}}</option>

        </select>
      </div>

<!--      <div class="col form-group">-->
<!--        <label>{{'flight-search.to' | translate}} </label>-->
<!--        <div class="input-group input">-->
<!--          <input class="form-control rounded" formControlName="arrivalCity" type="text"-->
<!--                 placeholder="{{'flight-search.placeholder.to' | translate}}">-->
<!--        </div>-->
<!--      </div>-->

      <div class="row col ">
        <div class="col form-group">
          <label>{{'flight-search.departure-date' | translate}} </label>
          <div class="input-group date-input">
            <p-calendar (onSelect)="parseDepartureData($event)" class="w-100" inputId="basic" showIcon=true dateFormat="dd-mm-yy" formControlName="departureDate">
            </p-calendar>

          </div>
        </div>

        <div class="col form-group" *ngIf="!oneWayValue">
          <label class="ml-2">{{'flight-search.return-date' | translate}} </label>
          <div class="input-group ml-2 date-input">
            <p-calendar (onSelect)="parseArrivalDate($event)" inputId="basic" showIcon=true dateFormat="dd-mm-yy" formControlName="arrivalDate">
            </p-calendar>


          </div>
        </div>
      </div>

      <div class="col form-group">
        <label>{{'flight-search.ticketPrice' | translate}} </label>
        <div class="input-group input">
          <input class="form-control rounded" formControlName="ticketPrice" type="text"
            placeholder="{{'flight-search.placeholder.ticketPrice' | translate}}">
        </div>
      </div>


      <div class="col form-group">
        <div class="input-group">
          <input class="radio" type="radio" name="radio" [checked]="oneWayValue"
                 (change)="onGetOneWayValue($event.target.checked)">
          <span class="ml-3"> {{'flight-search.one-way' | translate}}</span>
        </div>
      </div>

      <div class="col form-group">
        <div class="input-group">
          <input class="radio" type="radio" name="radio" [checked]="!oneWayValue"
                 (change)="onGetOneWayValue(!$event.target.checked)">
          <span class="ml-3"> {{'flight-search.round-trip' | translate}}</span>
        </div>
      </div>
    </div>
    <div>
      <button class="book-button" type="submit"> {{'flight-search.book-now' | translate}}</button>
    </div>
  </form>
</div>
