<div class="back col-1">
  <button class="btn btn-danger" (click)="onGoBack()">
    <i class="fas fa-chevron-left"></i>
    Back
  </button>
</div>
<div class="fc-view-container col-5" style="padding-top: 20px;">
  <form [formGroup]="form">
    <div class="form-group">
      <label for="number">Number</label>
      <input type="number" formControlName="number" class="form-control" id="number" aria-describedby="Enter number"
             placeholder="Enter name" [value]="updatedObject?.number" [readOnly]="isDisabled">
    </div>
    <div class="form-group">
      <label for="arrivalDate">Arrival date</label>
      <input type="city" formControlName="arrivalDate" class="form-control" id="arrivalDate"
             placeholder="Enter arrivalDate"
             [value]="updatedObject?.arrivalDate" [readOnly]="isDisabled">
    </div>

    <div class="form-group">
      <label for="departureDate">Departure date</label>
      <input type="code" formControlName="departureDate" class="form-control" id="departureDate"
             placeholder="Enter departureDate"
             [value]="updatedObject?.departureDate" [readOnly]="isDisabled">
    </div>

    <!--    <button type="submit" class="btn btn-info" (click)="onUpdate()">Update</button>-->
    <!--    <button type="submit" class="btn btn-info" style="margin-left: 270px" (click)="onSubmit()">Submit</button>-->
  </form>
</div>
